:root {
--black: #311f09;
--orange:#ff8a00;
--green: #3fa72f;
--white-orange: #ffe6c9;
}

body, html{
  font-family: "Poppins", sans-serif;
  font-size: 20px;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}

*{
box-sizing: border-box;
}
h1, h2, h3, h4, p {
margin: 0;
padding: 0;
}


.container{
max-width: 1237px;
margin: 0px auto;
}

/* header */
header{
margin-top: 51px;
}

.header-content{
display: flex;
justify-content: space-between;
align-items: center;
}
.header-content__last{
display: flex;
align-items: center;
}
.header-content__last img{
margin-right: 25px;
}
.header-content__last a:last-of-type{
background-color: var(--green);
text-decoration: none;
color: #fff;
padding: 15px 34px;
border-radius: 133px;
transition: background-color .4s ease;
}
.header-content__last a:last-of-type:hover{
  background-color: var(--orange);
}


nav a {
text-decoration: none;
margin-right: 45px;
color: var(--black);
display: inline-block;

transition: all .4s ease;
}

nav a:hover {
color: var(--orange);
transform: scale(1.05);
}


nav a:last-of-type{
margin-right: 0;
}
nav a.checked{
color: var(--orange);
}

/* main */
main{
margin-top: 166px;
}

.main-content{
display: flex;
justify-content: space-between;
/* align-items:center; */
}

.main-content_about{
color: var(--orange);
background-color: var(--white-orange);
padding: 10px 34px;
display: inline-block;
border-radius: 126px;
margin-bottom: 22px;
}
.main-content h1{
  font-family: "Raleway", sans-serif;
color: var(--black);
font-size: 80px;
font-weight: 700;
line-height: 110%;
margin-bottom: 30px;
}

.main-content p{
line-height: 200%;
margin-bottom: 77px;
color: var(--black);
}

.main-content_buttons a:first-of-type{
  padding: 17px 62px;
  background-color: var(--orange);
  color: #fff;
  border-radius: 162px;
  text-decoration: none;
  margin-right: 23px;
  display: inline-block;

  transition: transform .4s ease;
}
.main-content_buttons a:first-of-last{
  padding: 17px 55px;
  background-color: var(--green);
  color: #fff;
  border-radius: 162px;
  text-decoration: none;
  margin-right: 23px;
  display: inline-block;
  
  transition: transform .4s ease;
}

.main-content_buttons a:hover{
transform: scale(1.07);
}

